.dd {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: start;
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  border-radius: 0px 0px 16px 16px;
}

.dd > ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
}

.dd > ul > li {
  margin-top: 1rem;
}

.dd > ul > li > a {
  font-size: 1.4rem;
  color: #999999;
}

.ddOpen {
  visibility: visible;
  opacity: 1;
  background: #303030;
}
