.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.searchbar {
  background: rgb(40, 40, 40);
  width: 400px;
  height: 36px;
  font-size: 1rem;
  padding: 0px 16px;
  border: none;
  border-radius: 5px;
  outline: 0;
  color: white;
}

.btnSearch {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: none;
  background: transparent;
  color: #999999;
  cursor: pointer;
}

.btnClose {
  font-size: 1.5rem;
  right: 64px;
  position: absolute;
  border: none;
  background: transparent;
  color: gray;
  cursor: pointer;
  visibility: hidden;
}

.btnCloseActive {
  visibility: visible;
}
