.nav {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  justify-content: space-between;
  align-items: center;
  background: #202020;
  padding: 0px 5rem;
}
.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
  background-color: #202020;
}

.icon {
  z-index: 2;
  color: gray;
  font-size: 1.7rem;
}

.logo {
  font-weight: 700;
  color: #fff;
  z-index: 2;
  margin: 0 30px;
  font-size: 2rem;
}
