.nav {
  display: flex;
  flex-direction: row;
  flex: 1 auto;
  justify-content: space-between;
  align-items: center;
  background: #202020;
  padding: 0px 15px;
}
.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 10px 20px;
  background-color: #202020;
}

.icon {
  z-index: 2;
  color: gray;
}

.logo {
  color: #fff;
  z-index: 2;
  margin-left: 10px;
  font-size: 1.4rem;
}
